.container {
  display: flex;
  min-height: 98vh;
}

.left {
  min-width: 200px;
  border: 1px solid black;
}

.center {
  min-width: 100px;
  flex: 0 1 100%;
  border: 1px solid black;
}

.right {
  min-width: 300px;
  border: 1px solid black;
}
